<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="res/style.css">
    <link rel="icon" type="image/png" href="res/favicon.ico" />
    <meta charset="utf-8">
    <title>Test task</title>
</head>

<body>

    <!-- NAVIAGATION -->
    <div class="navigation">
        <a href="/catalogue">Catalogue</a>
        <a href="/admin">Admin Panel</a>
    </div>

    <!-- COMMENTS -->
    <h2>Comments</h2>
    <form method="post" action="/approve_comment">
        {% for comment in comments %}
            <div class="comments_comment">
                Comment written by: {{ comment.user_name }} ({{ comment.user_email }} )
                </br>
                "{{ comment.comment }}"
                <button name="approve" value="{{ comment.id }}" type="submit">Approve</button>
            </div>
        {% endfor %}
    </form>

</body>

</html>